---
# task/prerequisites file for manage_pipx_packages
- name: "Install python3 and pipx"
  ansible.builtin.include_role:
    name: ednxzu.manage_apt_packages
  vars:
    manage_apt_packages_list: "{{ manage_pipx_packages_required_packages }}"
